/* CSS for Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background color */
    display: none;
    z-index: 999;
}

/* CSS for Styling the Alert */
#alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 50%;
    max-width: 400px;
    padding: 25px;
}

/* CSS for Close Button in the Alert */
#alert .close {
    color: #000; /* Close button text color */
    opacity: 0.7;
}

#alert .close:hover {
    opacity: 1;
}


/* Login style */

.login {
    /* background-image: url("../assets/bg.jpg") */
    background-image: url(../assets/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.form-login{
    background-color: rgba(127, 255, 212, 0.411);
    border:  2px solid black;
    box-shadow: 5px 10px 10px black;
}

/* Navrbar */

.logout-button {
    background-color: #E74A3B;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}
.logout-button:hover{
    background-color: darkred;
}


/* sidebar */
.nav-item.active:hover {
    background-color: #1CC88A;
    border-radius: 15px;
}

.nav-item.active:hover .nav-link.span {
    color: white;
}


.active-link {
    background-color: #1CC88A;
    border-radius: 15px;
    color: white;
}
